<html>
<head>
  <title>New form</title>
</head>
<body>
  <form method="post" action="/posts">
    <input type="text" name="post[title]" placeholder="Enter a title">
    <input type="text" name="post[body]" placeholder="Enter sometext">
    <input type="submit" value="Write Post">
  </form>

</body>
</html>